.header {
  display: flex;
  flex-direction: row;
  // background: #ccc;
  align-items: center;
  justify-content: space-between;
  // width: 100vw;
  background: red;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      line-height: 0.1em;
      font-size: 4rem;
      margin: auto 1rem;
    }

    .time {
      background: #fff;
      box-shadow: 0 0 20px rgba(000, 000, 000, 0.2);
      padding: 0.1em 1rem;
      margin-left: 1rem;
      border-radius: 1rem;

      p:first-child {
        font-size: small;
      }

      p:nth-child(2) {
        font-size: xx-large;
      }

      p {
        font-weight: 600;
        line-height: 0;
        text-align: center;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .staffSelect {
      button {
        margin-right: 1rem;
        border-radius: 1rem;
      }
    }

    img {
      margin-right: 1rem;
    }
  }
}
