.outerContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;

  .containerTitle {
    margin: 0 0 0 0.5em;
  }
}

.innerContainer {
  width: 48em;
  height: 40em;
  padding: 20px;
  border-radius: 2em;
  box-shadow: 0 5px 30px rgba(000, 000, 000, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  Button {
    border-radius: 1em;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  //?===============================
  //?=======INDIVIDUAL ROWS=========
  //?===============================

  .rowOne {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bookingTypeButton {
      padding: 0.5em 1.5em;
      // background: #fff;
    }

    .datePicker {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: #ffffff;
      border-radius: 1em;
      box-shadow: 0 5px 30px rgba(000, 000, 000, 0.1);
    }
  }

  .rowTwo {
    display: block;
    box-shadow: 0 0 20px rgba(000, 000, 000, 0.1);
    border-radius: 1em;
    padding: 0.5em;

    .bookingTimes {
      display: flex;
      justify-content: space-around;

      .time {
        font-size: 1em;
        // font-weight: bold;
      }
    }
  }

  .rowThree {
    display: flex;
    justify-content: space-around;

    .detailInputContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-bottom: 0;
      }

      .detailInput {
        box-shadow: 0 0 20px rgba(000, 000, 000, 0.1);
        padding: 10px;
        margin: 10px;
        border-radius: 1em;
      }
    }

    .detailInput {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ropesRequired {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-shadow: 0 0 20px rgba(000, 000, 000, 0.1);
        border-radius: 2em;

        h1 {
          font-size: 5em;
          margin: 0;
        }
      }

      .bookingName,
      .bookingNotes {
        padding-top: 1em;

        textarea {
          padding: 1em;
          margin-bottom: -6px;
          background: #ffffff;
          box-shadow: 0 0 20px rgba(000, 000, 000, 0.1);
          border-radius: 1em 1em 0 0;
          text-align: center;
        }
      }

      .bookingNotes {
        height: 8em;

        textarea {
          max-height: 5em;
        }
      }
    }
  }

  .rowFour {
    display: flex;
    justify-content: space-between;
    margin: 0;

    Button {
      font-size: large;
      padding: 0.5em 2em 0.5em 2em;
    }
  }
}
