@import "./variables.scss";

.outerContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;

  .containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
    // background: red;

    .containerTitle {
      margin: 0;
    }
  }
}

.innerContainer {
  width: 25em;
  height: 40em;
  border-radius: 2em;
  box-shadow: 0 2px 20px rgba(000, 000, 000, 0.1);
}
