.container {
  display: flex;
  width: auto;
  padding: 2em;
  margin: 1em;
  border-radius: 1em;
  box-shadow: 0 0 20px rgba(000, 000, 000, 0.1);
  background: #ffffff; //TODO: dynamic for dark mode?
}

.invisible {
  background: none;
  border-radius: 0;
  box-shadow: none;
}

.fullPage {
  width: 100vw;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}
