.container {
  padding: 10px;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0 0 5px 30px;
  }

  Button {
    border-radius: 1em;
  }
}

.daySelector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: #ffffff;
  border-radius: 2em;
  box-shadow: 0 5px 30px rgba(000, 000, 000, 0.1);
}

.formContainer {
  // background: #fff;
  padding: 30px;
  // border-radius: 10px;

  border-radius: 2em;
  // background: #212121;
  // box-shadow: 26px 26px 44px #1b1b1b, -26px -26px 44px #272727;
  box-shadow: 0 5px 30px rgba(000, 000, 000, 0.1);

  h1,
  h4 {
    margin: 0;
  }

  h1 {
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;

    input {
      font-size: large;
      border-radius: 1em;
      // background: #fff;
      outline: 0;
      border: none;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    button {
      margin-top: 10px;
      padding: 10px;
      border-radius: 1em;
      border: none;
      font-size: large;
      font-weight: bold;
      outline: none;
      cursor: pointer;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    // background: coral;
    // padding: 5px;
    margin: 20px 0 20px 0;
  }

  .rowOne {
    display: flex;
    justify-content: space-between;
  }

  .rowTwo {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(000, 000, 000, 0.1);
    border-radius: 2em;
    padding: 0.5em;
  }

  .rowThree {
    display: flex;
    justify-content: space-around;

    .detailInputContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .detailInput {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px rgba(000, 000, 000, 0.1);
        padding: 10px;
        margin: 10px;
        border-radius: 2em;
      }
    }

    .ropesAvailable {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 20px rgba(000, 000, 000, 0.1);
      padding: 10px;
      margin: 10px;
      border-radius: 2em;
    }
  }

  .rowFour {
    display: flex;
    justify-content: flex-end;

    Button {
      font-size: large;
      padding: 0.5em 2em 0.5em 2em;
    }
  }
}
